<aside>
  <header>
    <svg viewBox="0 0 1177.8 488.9" preserveAspectRatio="none">
      <polygon points="0,0 0,488.9 1177.8,270.4 1177.8,0 "/>
    </svg>
  </header>

  <!--Animated Hambuger-->
  <div id="nav-icon">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  
  <div class="profile">

    <div class="images" style="background-image: url({{asset "images/mads.jpg"}}); background-size: cover"></div>

    <h1 class="name">Mads Lønnberg</h1>
    <div class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
    <div class="icons">
      <div class="fa fa-linkedin "></div>
      <div class="fa fa-facebook "></div>
      <div class="fa fa-twitter"></div>
    </div>
  </div>  
</aside>

<script>
  $(document).ready(function(){

    var $navIcon = $('#nav-icon');

    $('aside, #nav-icon').css('transition','500ms ease-in-out');

    $('#nav-icon').click(function(){
      switchOpeness();
      centerIcon();
    });


    closeMenu();
    centerIcon();

    $(window).resize(function(){
       closeMenu();
       centerIcon();
    })


    function centerIcon(){
      var mainLeft = $('main').position().left;
      var iconWidth = $('#nav-icon').width();

      var right = (mainLeft - iconWidth)/2;

      console.log(right, mainLeft, iconWidth)


      $('#nav-icon').css({
        'right': right+'px',
      })

    }

    function switchOpeness(){
      if(opened){
        closeMenu()
      }else{
        openMenu();
      }
    }


    function openMenu(){      
      $('aside').css('left',0+'px');
      $(this).add('#nav-icon, .profile, aside').addClass('open');
      opened = true;
    }

    function closeMenu(){
      var mainLeft = $('main').position().left;
      var asideWidth = $('aside').outerWidth();

      $('aside').css('left',(mainLeft-asideWidth)+'px');
      $('#nav-icon, .profile, aside').removeClass('open');
      opened = false;
    }


    


  });
</script>