<aside>
  <header>
    <svg viewBox="0 0 1177.8 488.9" preserveAspectRatio="none">
      <polygon points="0,0 0,488.9 1177.8,270.4 1177.8,0 "/>
    </svg>
  </header>

  <div class="bars">
    <div class="fa fa-bars fa-3x"></div>
  </div>
  <div class="profile">

    <div class="images" style="background-image: url({{asset "images/mads.jpg"}}); background-size: cover"></div>

    <h1 class="name">Mads Lønnberg</h1>
    <div class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
    <div class="icons">
      <div class="fa fa-linkedin "></div>
      <div class="fa fa-facebook "></div>
      <div class="fa fa-twitter"></div>
    </div>
  </div>  
</aside>