<aside>
  <div class="bars">
    <div class="fa fa-bars fa-3x"></div>
  </div>
  <div class="profile">
    <img src="" alt="">
    <h1 class="name">Mads Lønnberg</h1>
    <div class="bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
    <div class="icons">
      <div class="fa fa-linkedin fa-2x"></div>
      <div class="fa fa-facebook fa-2x"></div>
      <div class="fa fa-twitter fa-2x"></div>
    </div>
  </div>  
</aside>