<!DOCTYPE html>
<html>
    {{> head}}

    <body id="portfolio">

        <div class="background"></div>
        <div id="introduction" >
            <div class="svg breath">
               {{> portfolio-introduction/head}}
               {{> portfolio-introduction/menu}}
            </div>
        </div>

    </body>
</html>