<ul>
  <!--Portfolio's navigation-->
  {{#foreach navigation}}
      <li {{#if current}}class="selected"{{/if}}>
        <a href="{{url}}" >{{label}}</a>
      </li>
  {{/foreach}}
  <li class="inspiration">
    <a>inspiration</a>
    <ul class="inspiration-sub-menu">
      <li><a href="/documentaries">documentaries</a></li>
      <li><a href="/word-porn">word porn</a></li>
      <li><a href="/cultivate-creativity">cultivate criativity</a></li>
    </ul>
  </li>
</ul>

 