main
	.grid.center
		.s-10
			h1.title Inspiration
			p.text.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita ea, nulla temporibus quidem modi omnis aliquid rerum, dolorem impedit, praesentium culpa officiis cum eius alias reiciendis, quibusdam est voluptatibus architecto sequi earum velit. Blanditiis repudiandae obcaecati minus, nisi possimus reiciendis quo fugit similique voluptatum eveniet corrupti ducimus est non numquam illum nostrum iusto, reprehenderit iste quis molestias saepe. Tempora voluptatibus voluptatum, voluptatem quasi itaque quidem quisquam aut iste obcaecati. Eius sunt dolor rem ut libero, autem inventore maiores non tempora iste odio earum blanditiis unde aliquid natus doloremque at beatae quae ducimus et sequi pariatur corporis ab! Natus, voluptas. Natus ut dicta numquam odit vitae. Quam, similique! Id illum molestiae et, amet magnam eveniet reiciendis molestias odit, tenetur corporis quibusdam cumque possimus aliquam itaque commodi voluptate obcaecati doloremque consequatur deserunt aspernatur, ad, earum quam. Dolor minus fugit labore recusandae at ratione corrupti excepturi, ipsum doloribus porro quos nam, a! Nisi ipsa, illo. Ipsa cupiditate eum ratione architecto dignissimos dolores reiciendis aliquam dicta doloremque assumenda quia saepe nemo, quas aliquid voluptate excepturi porro. Veniam delectus explicabo ullam at consequatur consectetur odit est voluptate doloribus porro, commodi sint ex id quibusdam fugit corrupti quia quas dolore eos aliquam, sequi accusantium? Minus, quos?
	.grid.center
		.s-10
			include ../../panel/panel