<head>
	<meta charset="UTF-8">
	<title>Ganesh</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="{{asset "stylesheets/normalize.css"}}" rel="stylesheet">
	<link href="{{asset "stylesheets/bundle.css"}}" rel="stylesheet">
</head>