<head>
	<meta charset="UTF-8">
	<title>Feliganesh</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<link href="{{asset "vendors/font-awesome/css/font-awesome.min.css"}}" rel="stylesheet">
	<link href="{{asset "stylesheets/normalize.css"}}" rel="stylesheet">
	<link href="{{asset "stylesheets/bundle.css"}}" rel="stylesheet">
	<script src="{{asset "vendors/jquery/dist/jquery.min.js"}}" charset="utf-8"></script>
</head>
