<div class="item big" >
                        <img src="http://www.planwallpaper.com/static/images/cool-wallpapers-hd-8087-8418-hd-wallpapers.jpg" >
                        <div class="text">
                        <h3 class="title">Cool</h3>
                        <span class="author small">by Mads Lønnberg</span>
                        <p class="content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis omnis necessitatibus, sequi corrupti odit autem.
                        </p>
                        <div class="bar">
                            <span class="heart">
                            3 <span class="fa fa-heart"></span>
                            </span>
                            <span class="comment">
                            10 <span class="fa fa-comment"></span>
                            </span>
                        </div>
                        </div>
                    </div>
                    <div class="item" >
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMepwXxxnuUGyUAVJt1nLlnXMye7ToZij-PVpP2dM60p0Q7Uy1fg" alt="">
                        <div class="text">
                        <h3 class="title">Cool</h3>
                        <span class="author small">by Mads Lønnberg</span>
                        <p class="content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut est eligendi deleniti officiis pariatur ut nam dolorum labore, expedita. Rem illum, sunt tempora aperiam, saepe odit! Impedit laudantium velit consequuntur.
                        </p>
                        <div class="bar">
                            <span class="heart">
                            3 <span class="fa fa-heart"></span>
                            </span>
                            <span class="comment">
                            10 <span class="fa fa-comment"></span>
                            </span>

                            <!-- <span class="fa fa-facebook"></span>
                            <span class="fa fa-pinterest"></span>
                            <span class="fa fa-link"></span> -->
                        </div>
                        </div>

                    </div>
                    <div class="item" >
                        <img src="http://www.intrawallpaper.com/static/images/cool_wallpaper_images_2051_backgrounds_edition.jpg" alt="">
                        <div class="text">
                        <h3 class="title">Cool</h3>
                        <span class="author small">by Mads Lønnberg</span>
                        <p class="content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis omnis necessitatibus, sequi corrupti odit autem.
                        </p>
                        <div class="bar">
                            <span class="heart">
                            3 <span class="fa fa-heart"></span>
                            </span>
                            <span class="comment">
                            10 <span class="fa fa-comment"></span>
                            </span>

                            <!-- <span class="fa fa-facebook"></span>
                            <span class="fa fa-pinterest"></span>
                            <span class="fa fa-link"></span> -->
                        </div>
                        </div>

                    </div>
                    <div class="item" >
                        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRvVlkgV8eP7gsZwvDGECSzdw_H86jP_x6hln5SEDgSVcKAFo15" alt="">
                        <div class="text">
                        <h3 class="title">Cool</h3>
                        <span class="author small">by Mads Lønnberg</span>
                        <p class="content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, consequatur?
                        </p>
                        <div class="bar">
                            <span class="heart">
                            3 <span class="fa fa-heart"></span>
                            </span>
                            <span class="comment">
                            10 <span class="fa fa-comment"></span>
                            </span>

                            <!-- <span class="fa fa-facebook"></span>
                            <span class="fa fa-pinterest"></span>
                            <span class="fa fa-link"></span> -->
                        </div>
                        </div>
                    </div>
                    <div class="item" >
                        <img src="http://thepaperwall.com/wallpapers/digital_artwork/big/big_dc5727f2b15311e76741458c6026ecacc3c8ca48.jpg" alt="">
                        <div class="text">
                        <h3 class="title">Cool</h3>
                        <span class="author small">by Mads Lønnberg</span>
                        <p class="content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quia, illo similique! Optio sunt amet veniam, provident repellat totam assumenda nihil.
                        </p>
                        </div>
                        <div class="bar">
                        <span class="heart">
                            3 <span class="fa fa-heart"></span>
                        </span>

                            <span class="comment">
                            <!-- <span class="fa fa-facebook"></span>
                            </span>
                        10 <span class="fa fa-comment"></span>
                        <span class="fa fa-pinterest"></span>
                        <span class="fa fa-link"></span> -->
                        </div>
                    </div>
                    <div class="item" >
                        <img src="http://www.planwallpaper.com/static/images/cool-wallpapers-hd-8087-8418-hd-wallpapers.jpg" >
                        <div class="text">
                        <h3 class="title">Cool</h3>
                        <span class="author small">by Mads Lønnberg</span>
                        <p class="content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis omnis necessitatibus, sequi corrupti odit autem.
                        </p>
                        <div class="bar">
                            <span class="heart">
                            3 <span class="fa fa-heart"></span>
                            </span>
                            <span class="comment">
                            10 <span class="fa fa-comment"></span>
                            </span>

                            <!-- <span class="fa fa-facebook"></span>
                            <span class="fa fa-pinterest"></span>
                            <span class="fa fa-link"></span> -->
                        </div>
                        </div>
                    </div>
                    <div class="item" >
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMepwXxxnuUGyUAVJt1nLlnXMye7ToZij-PVpP2dM60p0Q7Uy1fg" alt="">
                        <div class="text">
                        <h3 class="title">Cool</h3>
                        <span class="author small">by Mads Lønnberg</span>
                        <p class="content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut est eligendi deleniti officiis pariatur ut nam dolorum labore, expedita. Rem illum, sunt tempora aperiam, saepe odit! Impedit laudantium velit consequuntur.
                        </p>
                        <div class="bar">
                            <span class="heart">
                            3 <span class="fa fa-heart"></span>
                            </span>
                            <span class="comment">
                            10 <span class="fa fa-comment"></span>
                            </span>

                            <!-- <span class="fa fa-facebook"></span>
                            <span class="fa fa-pinterest"></span>
                            <span class="fa fa-link"></span> -->
                        </div>
                        </div>

                    </div>
                    <div class="item" >
                        <img src="http://www.intrawallpaper.com/static/images/cool_wallpaper_images_2051_backgrounds_edition.jpg" alt="">
                        <div class="text">
                        <h3 class="title">Cool</h3>
                        <span class="author small">by Mads Lønnberg</span>
                        <p class="content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis omnis necessitatibus, sequi corrupti odit autem.
                        </p>
                        <div class="bar">
                            <span class="heart">
                            3 <span class="fa fa-heart"></span>
                            </span>
                            <span class="comment">
                            10 <span class="fa fa-comment"></span>
                            </span>

                            <!-- <span class="fa fa-facebook"></span>
                            <span class="fa fa-pinterest"></span>
                            <span class="fa fa-link"></span> -->
                        </div>
                        </div>

                    </div>
                    <div class="item" >
                        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRvVlkgV8eP7gsZwvDGECSzdw_H86jP_x6hln5SEDgSVcKAFo15" alt="">
                        <div class="text">
                        <h3 class="title">Cool</h3>
                        <span class="author small">by Mads Lønnberg</span>
                        <p class="content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, consequatur?
                        </p>
                        <div class="bar">
                            <span class="heart">
                            3 <span class="fa fa-heart"></span>
                            </span>
                            <span class="comment">
                            10 <span class="fa fa-comment"></span>
                            </span>

                            <!-- <span class="fa fa-facebook"></span>
                            <span class="fa fa-pinterest"></span>hsl(30, 01%, 53%);
                            <span class="fa fa-link"></span> -->
                        </div>
                        </div>
                    </div>
                    <div class="item" >
                        <img src="http://thepaperwall.com/wallpapers/digital_artwork/big/big_dc5727f2b15311e76741458c6026ecacc3c8ca48.jpg" alt="">
                        <div class="text">
                            <h3 class="title">Cool</h3>
                            <span class="author small">by Mads Lønnberg</span>
                            <p class="content">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quia, illo similique! Optio sunt amet veniam, provident repellat totam assume  nda nihil.
                            </p>
                            <div class="bar">
                                <span class="heart">
                                3 <span class="fa fa-heart"></span>
                                </span>
                                <span class="comment">
                                10 <span class="fa fa-comment"></span>
                                </span>

                                <!-- <span class="fa fa-facebook"></span>
                                <span class="fa fa-pinterest"></span>hsl(30, 01%, 53%);
                                <span class="fa fa-link"></span> -->
                            </div>
                        </div>
                    </div>