<!DOCTYPE html>
<html>
  {{> head}}
  <base href="/">
  <body ng-app="app">
    <!--ngView will route the content to default page, defined in assets/js/script.js-->
    <ng-view></ng-view>    
   </body>
</html>
