<!DOCTYPE html>
<html>
  {{> head}}
  <body id="blog">

   
    {{>blog-aside}}

    
    

    <main id="authors-list">
        <div class="grid wrapper">

            <header>
                {{>blog-navigation}}
            </header>        


            {{#get "users" limit="all"}}

                {{#foreach users}}
                    <!--Author's card-->
                    <a href="{{url}}">
                        {{>blog-author-card author=this}}
                    </a>
                {{/foreach}}

            {{/get}}


            <footer>
                {{>blog-navigation}}
            </footer>            
                
        </div>
    </main>

    
  </body>
</html>
