body#portfolio{

    header{
        max-width: 100vw !important;
        position: fixed;
        z-index: 15;
        background: #fdfaf7;
        opacity: 0.9;
        width: 100%;
    }

    
    .wrapper{
        width: 100vw;
        position:absolute;
        background: $background;
        left: 0;
        z-index: 2;
    }

    main{
            padding-top: 18vw;

            @media (min-width: 436px){
                padding-top: 16vw;
            }

            
            @media (min-width: 472px){
                padding-top: 15vw;
            }

            
            @media (min-width: 726px){
                 padding-top: 13vw;

            }
            
            
            @media (min-width: 810px){
                padding-top: 11vw;
            }

             @media (min-width: 900px){
                padding-top: 9vw;
            }

            
            @media (min-width: 1042px){
                padding-top: 8vw;
            }
            
            @media (min-width: 1356px){
                padding-top: 6vw;
            }

            @media (min-width: 1476px){
                padding-top: 5.5vw;
            }

            
            
    
    }


        

    .menu {
        color: $letter;
        position: relative;

        

        li{

            &:hover{
                color: $letter-menu-hover;
            }

            &.selected{
              color: $letter-menu-hover;
              font-weight: bold;      
            }
        }


        * {
            font-size: 1.4rem;
            margin: 0;
            padding-top: 0;
            padding-bottom: 0;

            // @media screen and (min-width:1024px) {
            //    font-size: 1.4rem;  
            // }
        
        }
        .menu-header {
            font-weight: 700;    
            position: relative;
            // display: flex;
            align-items: center;
            text-transform: lowercase;
            z-index: 3;
            

            &>*{
                float: left;
            }

            &::after{
                content: '';
                display: block;
                clear: both;
            }
            &>*:first-child {
                padding-right: 0.8rem;
            }

            .fa {
                position: relative;
                transform: translateY(-50%);
                top: 0.5rem;
                font-size: 1.2rem;



                // float: right;
            }

                

        }
        .menu-options {
    
            opacity: 0.95;
            right: 0;
            position: absolute;
            background-color: white;
            text-align: right;
            width: 180%;
            padding-top: 0rem;
            border-bottom-right-radius: 0.3rem;
            border-bottom-left-radius: 0.3rem;
            z-index:1;
            margin-right: -.5rem;        
            li {
                padding-top: 0.1rem;
                padding-bottom: 0.1rem;
                padding-right: .5rem;
                border-bottom: 1px solid $menu-alpha;
                &:last-child {
                    padding-bottom: 0.5rem;
                }
            }
        
        } 
        ul.grid {
            margin: 0;
            padding: 0;
        }

        li.inspiration{
            position: relative;
            
            ul.inspiration-sub-menu{
                display: none;

                @media(min-width: 768px){
                    opacity: 0;  
                    position: absolute; 
                    right: 0;
                    background: #fdfaf7;
                    width: 100%;

                    li{ 
                        float: none;
                        border-bottom: 1px solid rgba(64, 37, 32, 0.1);
                    }
                }

                &.show{
                    display: block;

                    @media(min-width: 768px){
                        opacity: 1;
                    }
                }
            }
        } 

        
       
        
    }


}


