@import 'grid';
@import 'typography';
@import 'variables';
@import 'menu';

body#portfolio{
    * {
        box-sizing: border-box;
        font-family: 'Dosis', sans-serif;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    body {
        background: $background;
    }

    img {
        width: 100%;
    }

    .hide-for-768-up{
        @media screen and (min-width:768px) {
            display: none;
            
        }
    }

    .show-for-768-up{
        @media screen and (max-width:768px) {
            display: none;    
        } 
    }


    .hide-for-822-up{
        @media screen and (min-width:822px) {
            display: none;
            
        }
    }

    .show-for-822-up{
        @media screen and (max-width:822px) {
            display: none;    
        } 
    }


    header {
        nav {
            color: #333;
            display: flex;
            justify-content: flex-end;
            align-content: center;
            color: $menu;

        
            
            
            .menu{
                display: flex;
                $padding: 18%;
                padding-top: $padding;
                padding-bottom: $padding;
            
                @media screen and (min-width:768px){
                    $padding: 12%;
                    padding-top: $padding;
                    padding-bottom: $padding;
                }


                ul{
                    padding: 0;

                    @media screen and (min-width:768px) {
                        display: flex;
                        
                        
                        li{
                            padding-left: 0.8rem;
                        }
                    }
                }

                
            }
        }

        

        .ganesh{
            z-index: 3;
            position: relative;
            width: 25%;
        }
    }

    main {
        p {
            color: $p;
            margin-top: 0;
            
        }

        .text-content{
            padding-top: 5%;
        }

    

        .hero {
            height: 100/1.7*1vw;
            display: flex;
            align-items: flex-end;
            background-size: cover;

            @media screen and (min-width:375px) {
                height: 50vw;
            }

            @media screen and (min-width:480px) {
                height: 45vw;
            }

            @media screen and (min-width:768px) {
                height: 36vw;
            }

            @media screen and (min-width:822px) {
                height: 31vw;
            }

            @media screen and (min-width:1106px) {
                height: 25vw;
            }

            @media screen and (min-width:1400px) {
                height: 23vw;
            }

        
            .title {
                margin-bottom: 3%;
                color: white;
                text-transform: lowercase;
                text-shadow: 1px 1px 4px hsl(0, 0%, 30%);
            }
        }
        .nav-items {
            display: flex;
            flex-wrap: wrap;
            padding-top: 0;
            padding-bottom: 0;
            .item {
                position: relative;
                height: 29vw;
                width: 29vw;
                background: $c1;
                margin-bottom: 1vw;
                margin-right: 1vw;
                color: white;
                &>* {
                    position: absolute;
                    right: 3vw;
                    bottom: 3vw;
                }
            }
        }
        .blog-items {
            display: flex;
            padding-top: 2%;

            @media screen and (min-width: 1024px) {
                padding-top:0;
            }

            .item {

                $width: 100/3*1vw;                

                width: $width;
                &:not(:last-child) {
                    margin-right: 3%;
                }

                .image{
                height: $width*1.65/3;
                //   box-shadow: 1px 1px 14px $background;
                @media screen and (min-width:822px){
                    $width:100/4*1vw;
                    height: $width*1.5/3;
                }

                @media screen and (min-width:1106px){
        
                    height: $width*1.3/3;
                }

                @media screen and (min-width:1200px){       
                    height: $width*1/3;
                }       
                
                @media screen and (min-width:1400px){       
                    height: $width*0.9/3;
                }  
                }

                .title {
                    margin: 0;
                    text-align: center;
                    // color: $c3;
                    margin-top: 7%;

                    @media screen and (min-width:480px) {
                        font-size: 1rem;
                        margin-top: 0.6rem;
                    }
                }
            }
        }
        .blog {
            overflow-x: hidden;
            padding-top: 0;
            color: $c1;
            svg {
                width: 130vw;
                position: relative;
                top: 12px;
                right: 20%;

    

                @media screen and (min-width:375px) {
                top: 15px;  
                }

                @media screen and (min-width:535px) {
                top: 20px;  
                }        

                @media screen and (min-width:822px) {
                    top: 25px;
                }

                @media screen and (min-width:1106px) {
                    top: 35px;
                }    
            
                
                .triangle {
                    fill: $c2;
                }
            }
            .label {
                margin-top: 0;
            }
            .content {
                position: relative;
                padding-top: 5%;
                padding-bottom: 7%;
                background: $c2;

                @media screen and (min-width: 700px){
                    padding-bottom: 5% !important;
                    padding-top: 2.5% !important;
                }

                @media screen and (min-width: 1106px){
                    padding-bottom: 4.5% !important;
                    padding-top: 2% !important;
                }

    
            }
        }
    }

    footer {
        background: $c1;
        color: white;
        $padding: 4%;

        padding-top: $padding;
        padding-bottom: $padding;

        @media screen and (min-width: 700px){
            padding-bottom: 2.5% !important;
            padding-top: 2.5% !important;
        }

        @media screen and (min-width:1106px) {
            $padding: 1.6%;
            padding-top: $padding !important;
            padding-bottom: $padding !important; 
        }

        .fa{
            @media screen and (min-width:1024px) {
                font-size: 1.2rem;
            }
        }


        
        ul.social {
            display: flex;
            padding: 0;
            justify-content: flex-end;
            margin: 0;
            li {
                margin-left: 1rem;
            }
        }
    }
}




