//PORTFOLIO COLORS
$letter: hsl(240, 5%, 18%)
;
$letter-menu-hover: orange;
$footer: #1E400B;
$introduction-menu: $footer;

//old color
$c1: hsl(73, 83%, 27%);
// $c2: hsl(34, 20%, 26%);  
$c2: hsl(34, 59%, 96%);
// $p: hsl(34, 91%, 14%);
// $p: hsl(34, 91%, 14%);
$p: hsl(34, 59%, 23%);

$background: hsl(34, 59%, 98%);
$menu: hsl(8, 33%, 19%);
$menu-alpha: hsla(8, 33%, 19%, 0.1);
