body#portfolio{
   

    .background{
        width: 100vw;
        height: 100vh;
        position: fixed;
        top:0;
        left:0;
        background-size: cover;
         z-index:-1;

         video{
             position: fixed; 
             right: 0; 
             bottom: 0; 
             min-width: 100%; 
             min-height: 100%; 
             width: auto; 
             height: auto; 
             z-index: -100;
         }
    }

    #introduction{
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        position: relative;
        margin: 0 auto;
       

        .svg {
            margin: auto;
            position: relative;
            width: 100%;
            z-index: 1;
            height: 100%;

            svg {
                position: absolute;
                top: 50%;
                left: 50%;                
                transform: translate(-50%, -50%);
            }
        }
    }
}