body#portfolio{
    svg.menu{
        width: 98%;
 
        display: none;
                opacity:0.7; 
        ;
        
        text{
            fill-opacity: 1 !important;
            font-size: 1.7rem;
        }


        @media (min-width:830px){
            &{
                width: 85%;     
            }

            text{
                font-size: 1.5rem;
            }            
        }


        @media (min-width:1080px){
            &{
                width: 76%;
            }
        }

        @media (min-width:1280px){
            &{
                width: 67%;
            }
        }

        @media (min-width:1400px){
            &{
                width: 60%;
            }
        }

        polygon:hover, .selected{
            fill: $introduction-menu !important;
            stroke: none !important
        }

        #boxes{
            polygon{  
                fill: transparent;
                cursor: pointer;
                
                // &:hover{
                //     fill: #657e0c !important;
                //     cursor: pointer !important;
                //     stroke: white !important;
                // }

                

            }
        }        
    }
}