body#portfolio{
    svg.menu{
        width: 70%;

        cursor: pointer;

        display: none;
                opacity:0.7; 
        ;
        
        text{
            fill-opacity: 1 !important;
        }

        #boxes{
            polygon{  
                fill: transparent;
                
                &:hover{
                    fill: #657e0c !important;
                    cursor: pointer !important;
                    stroke: white !important;
                }
            }
        }        
    }
}