$gutter: 1%;




.masonry {
  .item,  .sizer {
    width: 100%;

    @media(min-width: 475px) {
      width: (100%-$gutter)/2;
    }
    @media(min-width: 768px) {
      width: (100%-$gutter*2)/3;
    }
    @media(min-width: 1024px) {
      width: (100%-$gutter*3)/4;
    }
    @media(min-width: 1200px) {
      width: (100%-$gutter*4)/5;
    }
  }

  .big{


    @media(min-width: 768px) {
      width: (100%-$gutter*2)*2/3;
    }
    @media(min-width: 1024px) {
      width: (100%-$gutter*3)*2/4;
    }
    @media(min-width: 1200px) {
      width: (100%-$gutter*4)*2/5;
    }
  }

  .item {
    background: hsl(22,22%,95%);
    margin-bottom: 10px;
  }
  .gutter {
    width: $gutter;
  }
}
