.wrapper{
    width: 100vw;
    position:absolute;
    background: $background;
    left: 0;
    z-index: 2;
}

.menu {
    color: $c1;
    position: relative;


    * {
        font-size: 1.4rem;
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;

        // @media screen and (min-width:1024px) {
        //    font-size: 1.4rem;  
        // }
       
    }
    .menu-header {
        font-weight: 700;    
        position: relative;
        display: flex;
        align-items: center;
        text-transform: lowercase;
        z-index: 3;
        &>*:first-child {
            padding-right: 0.8rem;
        }

		.fa {
            position: relative;
            top: 2px;
            font-size: 1.2rem;
        }

            

    }
    .menu-options {
 
        opacity: 0.95;
        right: 0;
        position: absolute;
        background-color: white;
        text-align: right;
        width: 180%;
        padding-top: 0rem;
        border-bottom-right-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
        z-index:1;
        margin-right: -.5rem;        
        li {
            padding-top: 0.1rem;
            padding-bottom: 0.1rem;
            padding-right: .5rem;
            border-bottom: 1px solid $menu-alpha;
            &:last-child {
                padding-bottom: 0.5rem;
            }
        }
       
    }
    ul.grid {
        margin: 0;
        padding: 0;
    }
}

// Old Version
// body {
//   overflow-x: hidden;
// }
// nav {
//   display: flex;
//   justify-content: flex-end;
//   .fa {
//     cursor: pointer;
//   }
//   .menu {
//     $width: 70vw;
//     position: fixed;
//     width: $width;
//     z-index: 1;
//     height: 150vh; //avoiding weird behaviour in mobile devises
//     background: #333;
//     top: 0;
//     right: -$width;
//     transition: 0.3s;
//     .close {
//       padding: 1rem;
//       position: absolute;
//       top: 0;
//       right: 0;
//       color: white;
//     }
//     ul {
//       list-style:none;
//       margin-top: 4.5rem;
//       font-size: 1.5rem;
//       overflow-x: hidden;
//       li{
//         $border: 1px solid;
//         border-top: $border;
//         padding:0.7rem;
//         padding-left:1.2rem;
//         margin-left: -5%;
//         margin-right: -5%;
//         &:last-child{
//           border-bottom: $border
//         }
//         &:hover{
//           background: transparent;
//         }
//       }
//       a{
//         color: white;
//         text-decoration: none;
//         cursor: auto;
//       }
//     }
//   }
//   .opended {
//     right: 0;
//   }
// }