body#blog{

    #nav-icon {
        width: 48px;
        height: 45px;
        position: relative;
        transform: rotate(0deg);
        // transition: .5s ease-in-out;
        cursor: pointer;        
    }

    #nav-icon span {
        display: block;
        position: absolute;
        height: 6px;
        width: 100%;
        background: white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    #nav-icon span:nth-child(1) {
        top: 0px;
    }

    #nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
        top: 14px;
    }

    #nav-icon span:nth-child(4) {
        top: 28px;
    }

    #nav-icon.open span:nth-child(1) {
        top: 14px;
        width: 0%;
        left: 50%;
    }

    #nav-icon.open span:nth-child(2) {
        transform: rotate(45deg);
    }

    #nav-icon.open span:nth-child(3) {
        transform: rotate(-45deg);
    }

    #nav-icon.open span:nth-child(4) {
        top: 14px;
        width: 0%;
        left: 50%;
    }

    @media (max-width: 800px){
        #nav-icon {
            width: 36px;
        }
        #nav-icon span {
            height: 5px;
        }

        #nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
            top: 12px;
        }

        #nav-icon span:nth-child(4) {
            top: 24px;
        }
    }


}


