@import 'variables';
@import 'typography';
@import './grid/grid.scss';
@import 'post';
@import 'animated-hamburger';

*{
  box-sizing:border-box;
}

img{
  width: 100%;
}

body#blog{
  justify-content: space-between;
  min-height: 100vh;
  // background: url('../images/pattern.png');


  .menu-layer{
    // z-index: -1;
    &.open{
      z-index: 2;
      width: 100vw;
      height: 100vh;
      background: #443631;
      position: fixed;
      opacity: 0.4; 
    }
  }

  aside{

    width:100%;
    max-width: 320px;
    position: fixed;
    z-index: 3;    
    background: hsl(35, 85%, 61%);
    
    color:#443631;
    height: 100%;
    padding-left:1rem;
    padding-right:1rem;

    &::after{
      content: '';
      display: block;
      clear: both;
    }

    &.open{
      background: #f5f2ef; 
    }


    header{
      position: absolute;
      width: 100%;
      top:0;
      left: 0;
      height: 38vh; 
      z-index: -1;

      svg{
        height: 100%;
        width: 100%;
        polygon{
          fill: hsl(35, 85%, 61%);
      	}
      }
    }

    .profile{

      position: relative;
      top: 17vh;

      opacity: 0;

      &.open{
        opacity: 1;
      }

      h1{
        margin: 0.6rem 0;
      }

      .images{
        width: 25vh;
        height: 25vh;
        border-radius: 50%;
        margin: auto;
      }

      .name{
        text-align: center;
        font-weight: 500;
      }

      .bio{
        margin-bottom: 1rem;
      }

      .icons{

        font-size: 1.5rem;
      
        *{
          float: right;
          margin-left: 0.7rem;
        }

        &::after{
          content: '';
          display: block;
          clear: both;
        }

      }

    }


    #nav-icon{
      margin-top:1rem;
      color: white;
      position: absolute;

     

      
    }

  }

  main{
    float: right;
    width:85vw;
    background: hsl(37, 38%, 91%);
    min-height: 100vh;
    z-index: 1;

    .masonry{
      a{
        font-weight: inherit;
        text-decoration:none;
      }
    }

    .bar{
      padding:3px;
      background: hsla(14, 15%, 18%,0);

      color:hsl(14, 3%, 85%);
      margin-bottom: 0.5rem;
      float: right;

      span{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 1rem;

        cursor: pointer;

        &.comment, &.heart{
          margin-left:0.9rem;
        }

        &.fa{
          margin-left: 3px;
        }

        &.heart:hover{
          color:hsl(0, 95%, 55%);
        }

        &.comment:hover{
          color:hsl(0, 3%, 65%);
        }

        &.fa-comment{
          position: relative;
          top:-2px;



        }
      }
    }

    @media(min-width: 425px){
      width: 88vw;
    }

    @media(min-width: 550px){
      width: 90vw;
    }

    @media(min-width: 650px){
      width: 92vw;
    }

    @media(min-width: 880px){
      width: 93vw;
    }

    @media(min-width: 1024px){
      width: 95vw;
    }
  }

  .item, img{
    border-radius: 11px 11px 0px 0px;
    background: #f5f2ef;
  }

  .item{
    margin-bottom: 40px;
  }

  .text{
    padding:6%;
    padding-top: 3%;

    .title, .author{
      color:hsl(16, 16%, 23%);
    }

    p{
      font-size: 1.2rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

}





