@import 'variables';
@import 'typography';
@import './grid/grid.scss';
@import 'post';

*{
  box-sizing:border-box;
}

img{
  width: 100%;
}

body#portfolio{
  
}

body#blog{
  justify-content: space-between;
  min-height: 100vh;
  // background: url('../images/pattern.png');

  aside{

    width:15vw;
    position: fixed;
    background: hsl(35, 85%, 61%);
    color:white;
    display: flex;
    justify-content: center;
    height: 100%;
    padding-left:1rem;
    padding-right:1rem;


    @media(min-width: 425px){
      width: 12vw;
    }

    @media(min-width: 550px){
      width: 10vw;
    }

    @media(min-width: 650px){
      width: 8vw;
    }

    @media(min-width: 880px){
      width: 7vw;
    }

    @media(min-width: 1024px){
      width: 5vw;
    }

    .bars{
      margin-top:1rem;
    }

  }

  main{
    float: right;
    width:85vw;
    background: hsl(37, 38%, 91%);
    min-height: 100vh;

    .bar{
      padding:3px;
      background: hsla(14, 15%, 18%,0);

      color:hsl(14, 3%, 85%);
      margin-bottom: 0.5rem;
      float: right;

      span{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 1rem;

        cursor: pointer;

        &.comment, &.heart{
          margin-left:0.9rem;
        }

        &.fa{
          margin-left: 3px;
        }

        &.heart:hover{
          color:hsl(0, 95%, 55%);
        }

        &.comment:hover{
          color:hsl(0, 3%, 65%);
        }

        &.fa-comment{
          position: relative;
          top:-2px;



        }
      }
    }

    @media(min-width: 425px){
      width: 88vw;
    }

    @media(min-width: 550px){
      width: 90vw;
    }

    @media(min-width: 650px){
      width: 92vw;
    }

    @media(min-width: 880px){
      width: 93vw;
    }

    @media(min-width: 1024px){
      width: 95vw;
    }
  }

  .item, img{
    border-radius: 11px 11px 0px 0px;
    background: #f5f2ef;
  }

  .item{
    margin-bottom: 40px;
  }

  .text{
    padding:6%;
    padding-top: 3%;

    .title, .author{
      color:hsl(16, 16%, 23%);
    }

    p{
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

}





