html {
    font-size: 1rem;
}

body#blog {
    background-color: white;
    font-family: 'Dosis';
    font-weight: 400;
    line-height: 1.618;
    color: #333;


    *{
  font-weight: 400 !important;
  }

  p {
      margin-bottom: 1.3rem;
      line-height: 1.618;
      font-size: 1rem;
      @media(min-width: 714px){
        font-size: 1.1rem;
      }
  }

  h1 {
    font-size: 2rem;
    @media(min-width: 583px){
      font-size: 2.1rem;
    }

    @media(min-width: 700px){
      font-size: 2.3rem;
    }

  }

  // h2 {
  //     font-size: 1.953em;
  // }

  h3 {
    font-size: 1.563em;
    margin: 0;
  }

  h4 {
      font-size: 1.25em;
  }

  h5 {

    @media(min-width: 700px){
      font-size: 0.9em;
    }
  }

  .small,
  .font_small {
      font-size: 0.9em;
  }

}

