html {
    font-size: 1rem;
    font-family: 'avenir';
}

body#blog {

  // background-color: white;
  font-family: 'avenir';
  font-weight: 400;
  line-height: 1.618;
  color: #443631 !important; 

  blockquote{
    font-family: 'Annie Use Your Telescope', cursive;

    p{      
      font-size: 1.3rem ;
    
      @media(min-width: 714px){
        font-size: 2.4rem !important ; 
      }

    }

  }  

  a{
    &:visited, & {
      color: inherit;
      font-weight: 700;
    }
  }  


  h1, h2, h3, h4, h5, h6{    
    font-weight: 500;
    margin-bottom: 0;
    line-height: 1.4;
  }

  p {
      margin-bottom: 1.3rem;
      line-height: 1.618;
      font-size: 1rem;
    }

  @media(min-width: 714px){
    p, ul, ol{
      font-size: 1.3rem;
    }
  }

  h1 {
    font-size: 2rem;
    @media(min-width: 583px){
      font-size: 2.2rem;
    }

    @media(min-width: 700px){
      font-size: 2.4rem;
    }

  }

  h2 {
      // font-size: 1.953em;
      font-size: 1.7rem;
  }

  h3 {
    font-size: 1.563rem;
    margin: 0;
  }

  h4 {
      font-size: 1.25rem;
  }

  h5 {

    @media(min-width: 700px){
      font-size: 0.9rem;
    }
  }

  .small,
  .font_small {
      font-size: 0.9rem;
  }

}

